/* navbar styles */
.navbar{
    background-color: #a9a9a2;
    height: 60px;
    width: 100vw;
    display: flex;
    border-bottom: 1.5px solid #ebebeb;
    margin-bottom: 40px;
    font-family:'AmstelvarAlpha';
    color: #ebebeb;
}

.navbar-brand{
    color: #ebebeb;
    font-size:50px;
}

.navbar-brand:hover{
    color: #ebebeb;
}

.nav-link{
    color: #ebebeb;
    font-size: 20px;
}

.navbar a:hover {
    background-color: transparent;
    color: #ebebeb;
}

.dropdown {
    font-size: 15px;
    padding: 7px;
    background-color:#a9a9a2;
    border: solid 1.5px #ebebeb;
    width: 175px;
    border-radius:5px;
    color: #ebebeb;
}
.dropdown option:hover{
    color:white;
    background-color: #395B64;
}

/* general body */

body{
    background-color:#e0d7d1;
    font-family:'AmstelvarAlpha';
}

/* login form signup form and credentials form */
.card-signin{

    color: #787775;
    border: solid 1.5px #ebebeb;
    background-color: #ebebeb;
    font-family:'AmstelvarAlpha';
}

#job-dropdown{
    margin-bottom:25px;
}

#salary-dropdown{
    margin-bottom:25px;
}

/* general form submit button */
.btn{
    background-color:#a9a9a2;
    color: #ebebeb;
    border: solid 1.5px #ebebeb;
    font-family:'AmstelvarAlpha';
    margin-left:150px;
}

.btn:hover{
    background-color: #ebebeb;
}


/* select menu in create newhire page */

#dept-dropdown{
    margin-top:15px;
    margin-bottom:25px;
}

#manager-dropdown{
    margin-bottom: 25px;
}

#credentials-dropdown{
    margin-bottom: 25px;
}

.select{
    -webkit-appearance: none;
    font-size: 15px;
    padding: 7px;
    border: solid 1.5px #ebebeb;
    border-radius:5px;
    color: #ebebeb;
}


/* all newhires table */
.table{
    color: #6a6a62;
    background-color:#e1e2e6;
}
/* .all-data .card-header{

    background-color:#a9a9a2;
} */









