/* navbar styles */
.navbar{
    background-color: #a9a9a2;
    height: 60px;
    width: 100vw;
    display: flex;
    border-bottom: 1.5px solid #ebebeb;
    margin-bottom: 80px;
    font-family:'AmstelvarAlpha';
}

.navbar-brand{
    color: white;
    font-size:50px;
}

.navbar-brand:hover{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.dropdown a:hover {
    background-color: transparent;
    color: #E7F6F2;
}

.nav-item div a:hover{
    background-color:#a9a9a2;
    color:#787775;
}
.nav-item div a{
    color: #787775;
}

.dropdown-menu{
    background-color:#ebebeb;

}

.dropdown-divider{
    background-color:#036264;
}
 /*end of test css*/
.dropdown-form {
    font-size: 15px;
    padding: 7px;
    background-color:#a9a9a2;
    border: solid 1.5px #ebebeb;
    width: 175px;
    border-radius:5px;
    color: #ebebeb;
}
.dropdown-form option:hover{
    color:white;
    background-color: #395B64;
}
/* general body */

body{
    /*background-color:#e0d7d1;*/
    background-color: rgba(0, 0, 0,0.7);
    font-family:'AmstelvarAlpha';
}

/* login form signup form and credentials form */
.card-signin{
    color: #787775;
    border: solid 1.5px #ebebeb;
    background-color: #ebebeb;
    font-family:'AmstelvarAlpha';
}



/* select menu in create newhire page */

#dept-dropdown{
    margin-top:15px;
    margin-bottom:25px;
    margin-left: 20px;
}

#manager-dropdown{
    margin-bottom: 25px;
    margin-left: 38px;
}

#credentials-dropdown{
    margin-bottom: 25px;
    margin-left: 10px;
}

#job-dropdown{
    margin-bottom:25px;
    margin-left: 40px;
}

#salary-dropdown{
    margin-bottom:10px;
}

.select{
    -webkit-appearance: none;
    font-size: 15px;
    padding: 7px;
    border: solid 1.5px #ebebeb;
    border-radius:5px;
    color: #ebebeb;
}


/* all newhires table */
.table{
    color: #6a6a62;
    background-color:#e1e2e6;
}
 .all-data .card-header{
    background-color:#a9a9a2;
}

/* all by any type of id table */
#all-by-id{
    margin-left:450px;
}

#all-by-title{
    margin-left:550px;
    margin-bottom:25px;
    color: #6a6a62;
    text-align:center;
}

/* submit button to query table */
.searchBtn{
    background-color:#a9a9a2;
    color: white;
    border: solid 1.5px #ebebeb;
    font-family:'AmstelvarAlpha';
    border-radius: 5px;
    margin-left: 35px;
}

.searchBtn:hover{
    background-color: rgba(0, 128, 0, 0.6);
    color: white;
}

/* the table when one newhire is displayed with company credentials*/
#newhire-by-id-company{
    margin-left:115px;
}

#newhire-by-id-company #title{
    text-align:center;
    font-size:20px;
}

/* all-newhires page*/
#all-newhires-page{
    margin-left:125px;
}

#all-newhires-page-title {
   text-align:center;
    font-size:20px;
}

/* newhire form submit button */
.btn{
    background-color:#a9a9a2;
    color: white;
    border: solid 1.5px #ebebeb;
    font-family:'AmstelvarAlpha';
    border-radius: 5px;
    margin-left:150px;
}

.btn:hover{
    background-color: rgba(0, 128, 0, 0.6);
    color: white;
}

.data-card{
    color: #787775;
    border: solid 1.5px #ebebeb;
    background-color: #ebebeb;
    font-family:'AmstelvarAlpha';
    border-radius: 5px;
}
/* header of tables that show all data for each request by user*/
.title{
    text-align: center;
    font-size: 20px;

}













