
.navbar{
    background-color: #a9a9a2;
    height: 60px;
    width: 100vw;
    display: flex;
    border-bottom: 1.5px solid #ebebeb;
    margin-bottom: 80px;
    font-family:'AmstelvarAlpha';
}

.navbar-brand{
    color: white;
    font-size:50px;
}

.navbar-brand:hover{
    color: #ebebeb;
}

body{
    /*background-color:#e0d7d1;*/
    background-color: rgba(0, 0, 0,0.7);
    font-family:'AmstelvarAlpha';
    /*opacity: 0.5;*/
}

.card-signin{
    color: #787775;
    border: solid 1.5px #ebebeb;
    background-color: #ebebeb;
    font-family:'AmstelvarAlpha';
}

.container input:hover{
    border: solid 2px #787775;

}

.btn{
    background-color:#a9a9a2;
    color: white;
    border: solid 1.5px #ebebeb;
    font-family:'AmstelvarAlpha';
    margin-left: 170px;
}

.btn:hover{
    background-color: rgba(0, 128, 0, 0.6);
    color: white;
}

.subBtnText{
    color: #787775;
    margin-left: 155px;
}

.subBtnText:hover{
    color: rgba(0, 128, 0, 0.6);
}

.subBtn{
    color: #787775;
    margin-left: 140px;
}

.subBtn:hover{
    color: rgba(0, 128, 0, 0.6);
}



