<!DOCTYPE html>
<!--thymeleaf link-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trakd.Create.NewHire</title>
    <!--bootstrap links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- external styles.css link-->
    <link rel="stylesheet" href="assets/css/general-styles.css">
</head>
<body>

<!--template basic-navbar template only shows the home button-->
<div th:replace="~{basic_navbar :: nav}"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Enter NewHire Information</h5>

                    <!-- form to create newhire personal information-->
                    <form role="form" method="post" th:action="@{/create-newhire}" th:object="${nhPersonal}">

                        <!--enter first name-->
                        <div class="form-group">
                            <label for="phone-number"></label>
                            <input type="text" class="form-control" id="first-name" placeholder="First Name"
                                   th:field="*{firstname}">
                        </div>
                        <!--enter last name-->
                        <div class="form-group">
                            <label for="phone-number"></label>
                            <input type="text" class="form-control" id="last-name" placeholder="Last Name"
                                   th:field="*{lastname}">
                        </div>
                        <!--enter personal email-->
                        <div class="form-group">
                            <label for="phone-number"></label>
                            <input type="text" class="form-control" id="email" placeholder="Email"
                                   th:field="*{personalEmail}">
                        </div>
                        <!--enter phone number-->
                        <div class="form-group">
                            <label for="phone-number"></label>
                            <input type="text" class="form-control" id="phone-number" placeholder="Phone Number"
                                   th:field="*{phoneNumber}">
                        </div>
                        <!--enter street-->
                        <div class="form-group">
                            <label for="street"></label>
                            <input type="text" class="form-control" id="street" placeholder="Street"
                                   th:field="*{street}">
                        </div>
                        <!--enter city-->
                        <div class="form-group">
                            <label for="city"></label>
                            <input type="text" class="form-control" id="city" placeholder="City" th:field="*{city}">
                        </div>
                        <!--enter state-->
                        <div class="form-group">
                            <label for="state"></label>
                            <input type="text" class="form-control" id="state" placeholder="State" th:field="*{state}">
                        </div>
                        <!--enter zipcode-->
                        <div class="form-group">
                            <label for="zipcode"></label>
                            <input type="text" class="form-control" id="zipcode" placeholder="Zipcode"
                                   th:field="*{zipcode}">
                        </div>

                        <!--select job title-->
                        <div>
                            <label for="job-dropdown"> Select Job Title</label>
                            <select class="dropdown" id="job-dropdown" th:field="*{jobTitle}">
                                <option value="Entry Software Engineer"> Entry Software Engineer </option>
                                <option value="Junior Software Engineer"> Junior Software Engineer</option>
                                <option value="Senior Software Engineer"> Senior Software Engineer</option>
                            </select>
                        </div>

                        <!--select salary-->
                        <div>
                            <label for="salary-dropdown">Select Starting Salary</label>
                            <select class="dropdown" id="salary-dropdown" th:field="*{salary}">
                                <option value="73000">$73,000</option>
                                <option value="75000">$75,000</option>
                                <option value="83000">$83,000</option>
                                <option value="85000">$85,000</option>
                                <option value="93000">$93,000</option>
                                <option value="95000">$95,000</option>
                            </select>
                        </div>
                        <!-- choose department from dropdown menu-->
                        <label for="dept-dropdown">Select Department</label>
                        <select id="dept-dropdown" class="form-control" th:field="*{dept}">
                            <option value="" disabled selected>Select Department</option>
                            <option th:each="data : ${dept}"
                                    th:value="${data.getId()}"
                                    th:text="${data.getName()}">
                            </option>
                        </select>

                        <!-- choose manager from dropdown menu-->
                        <label for="manager-dropdown">Select Manager</label>
                        <select id="manager-dropdown" class="form-control" th:field="*{manager}">
                            <option value="" disabled selected> Select Manager</option>
                            <option th:each="data : ${manager}"
                                    th:value="${data.getId()}"
                                    th:text="${data.getName() + ': ' + data.getDept().getName()}">

                            </option>
                        </select>
                        <!-- choose generated employeedId from dropdown menu-->
                        <label for="credentials-dropdown">Select Employee ID</label>
                        <select id="credentials-dropdown" class="form-control" th:field="*{companyCredentials}">
                            <option value="" disabled selected>Select Employee ID</option>
                            <option th:each="data : ${companyCredentials}"
                                    th:value="${data.getDbId()}"
                                    th:text="${data.getDbId()+ ': #' + data.getEmployeeId()}">
                            </option>
                        </select>
                        <button class="btn" type="submit"> Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- external script.js file-->
<script src="assets/js/create_script.js"></script>
<!--bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>