<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trakd.Update.Contact.Information</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel = "stylesheet" href = "assets/css/general-styles.css">
</head>
<body>
<!--template basic-navbar template only shows the home button-->
<div th:replace="~{basic-navbar :: nav}"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="card card-signin">
        <div class="card-header">
          Update NewHire Phone Number
        </div>
        <div class="card-body">
          <form id = "input-form" method="post" th:action="@{/update-phone}">
            <div class="form-group">
              <label for="id">Enter NewHire ID</label>
              <input type="text" class="form-control admin-input" id ="id" name ="nhId">
            </div>
            <div class="form-group">
              <label for="id">Enter New Phone Number</label>
              <input type="text" class="form-control admin-input" id ="number" name ="phoneNumber">
            </div>
            <div>
              <button type="submit" class="searchBtn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class = "col-10 card-signin">
      <div class="card-header">
        All NewHires
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered text-center">
          <thead>
          <tr>
            <th> NewHire ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="newhire : ${allNewhires}">
            <td th:text="${newhire.getId()}"></td>
            <td th:text="${newhire.getFirstname()}"></td>
            <td th:text="${newhire.getLastname()}"></td>
            <td th:text="${newhire.getPersonalEmail()}"></td>
            <td th:text="${newhire.getPhoneNumber()}"></td>
            <td th:text="${newhire.getStreet()}"></td>
            <td th:text="${newhire.getCity()}"></td>
            <td th:text="${newhire.getState()}"></td>
            <td th:text="${newhire.getZipcode()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<!--bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>





